.about {
    animation-name: about;
    animation-delay: 10ms;
    animation-duration: 2s;
    position: relative;
  
}

@keyframes about {
    0% {
        transform: translate(-200px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}